@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-police-950 text-slate-100 font-sans antialiased min-h-screen selection:bg-amber-400 selection:text-police-950;
  }
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #060B19;
}
::-webkit-scrollbar-thumb {
  background: #1C2541;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3A506B;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
